/home/deeptir/mnt/rt_bucket/logs/902bc7ba-4c19-40c0-bcb1-7687bfbee70b:34.82.150.2
/home/deeptir/mnt/rt_bucket/logs/test:34.82.150.2
/home/deeptir/mnt/dash_server/:34.82.150.2
/home/deeptir/mnt/dash_server_async/:34.82.150.2
