mounts:
  "34.82.47.137": "/home/deeptir/mnt/dash_server"
  #"35.197.9.107": "/home/deeptir/mnt/dash_git_server"
links:
  "(34.82.47.137,client)": 500
  "(client,34.82.47.137)": 500
  #"(client,35.197.9.107)": 10000
  #"(35.197.9.107,client)": 10000
tmp_directory:
  "34.82.47.137": "/home/deeptir/mnt/dash_server_logs/dash_tmp"
  #"35.197.9.107": /home/deeptir/mnt/ssd/dash_tmp"
